

.edu-container {
  padding: 2rem;
  border-radius: 8px;
  margin: 4rem auto;
  max-width: 800px;
}

.edu-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.edu-title {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.edu-title:hover {
  color: #64ffda;
}

.edu-num {
  color: #64ffda;
  margin-right: 0.5rem;
}

.edu-content ul {
  list-style: none;
  padding: 0;
}

.edu-content li {
  margin-bottom: 1.5rem;
  border-left: 2px solid #64ffda;
  padding-left: 1.5rem;
}

.edu-content h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ccd6f6;
}

.edu-content h4 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ccd6f6;
  margin-bottom: 0.5rem;
}
.edusectitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #8892b0;
  margin: 0.2rem 0;
    background-image: linear-gradient(to right, #04af98 0%, #04af98 100%);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

.edusectitle:hover {
    color: #08f1d2;
    transition: 0.3s;
    cursor: pointer;
    background-size: 29% 2px;
}

.area {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #8892b0;
    margin: 0.2rem 0;
    text-decoration: none;
}

.area:hover {
    color: #08f1d2;
    transition: 0.3s;
    cursor: pointer;
}

.edu-content .edusectyap {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.6;
  color: #ffffff;
}

/*the skills part pia*/
.role {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 450;
    color: #8892b0;
    margin: 0.2rem 0;
    text-decoration: underline;
}

.role:hover {
    color: #08f1d2;
    transition: 0.3s;
    cursor: cell;
}

@media (max-width: 600px) {
  .edu-container {
    padding: 1rem;
    margin: 2rem auto;
  }

  .edu-title {
    font-size: 1.1rem;
  }

  .edu-content h3 {
    font-size: 1.3rem;
  }

  .edu-content h4 {
    font-size: 1rem;
  }

  .edusectitle {
    font-size: 1rem;
  }
}