 
.navbar {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
}

.title {
    font-family: "Asimovian", sans-serif;
    color: #04af98;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}

.links a {
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.links a:hover {
    color: #08f1d2;
    transition: 0.3s;
}

.links .roman {
    color: #04af98;
}

.navbtn {
    background-color: #0F172A;
    color: #04af98;
    border: 1px solid #04af98;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.navbtn:hover {
    background-color: #04af9836;
    transition: 0.3s;
}

.navbtn .navbtntxt {
    color: #1ebda8;
}

.navbtn .navbtntxt:hover {
    color: #ffffff;
    transition: 0.3s;
}