 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F172A;
}

.title {
    font-family: "Asimovian", sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}

.links a {
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.links .roman {
    color: #066155;
}

.navbtn {
    background-color: #0F172A;
    color: #066155;
    border: 1px solid #066155;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.navbtn .navbtntxt {
    color: #066155
}